@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Merriweather&display=swap);
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background:linear-gradient(90deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 45%, rgba(0,0,0,0.5) 100%),url('images/header-background.jpg');
    max-width:100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    position: static;

}

.header-container{
    max-width: 60%;
    height: 698px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding:10px 5px;
    border-bottom: #fff solid 1.5px;
    margin-bottom: 10px;
}

.logo{
    color:#fff;
    font-family: 'Great Vibes', cursive;    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav ul li a{
    margin-left: 22px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0 4px;
    transition: all 0.35s ease;
}

.nav ul li a:hover{
   color: rgb(13, 9, 26);
   background:#F3C996;
   padding: 10px 4px;
   border-radius: 5px;
}

.header-content{
   height: 80%;
   width: 60%;
   margin: auto 0;
   display: grid;
}

.title{
    margin: auto 0;
}

.icon{
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.title h1{
    margin-top: 60px;
    color:#BE9D79;
    font-family: 'Kaushan Script', cursive;
    font-size:38px;
}

.title h3{
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    font-weight: 400;
    margin:10px 0 40px;
}

.title p{
    color: #fff;
    font-weight: 500;
}


/* About Us Section */

.about-us-section{
    background: #fff;
}

.about-us-container{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 30px 0;
    position: relative;
}

.about-us-text{
    text-align: center;
    margin: auto 0;
    padding: 50px 70px 50px 0 ;
}

.about-us-text h1{
    font-family: 'Kaushan Script', cursive;
    color: #BE9D79;
    font-size: 40px;
}

.about-us-text p{
    line-height: 2em;
    margin: 20px 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    color: rgb(75, 75, 75);
}

.about-us-contact{
   position: relative;
}


.about-us-reservation{
    color: #fff;
    background:#151724;
    padding: 30px;
    position: absolute;
    top: -30%;
}

.about-us-reservation h4{
    color:#B09375;
    font-size: 23px;
}

.about-us-reservation p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 1.5em;
}

.about-us-reservation p:nth-child(2){
    margin: 20px 0;
}

.about-us-reservation p:nth-child(6){
    margin-top: 20px;
}

#button-section{
    text-align: center;
}

.about-us-reservation button{
    margin-top: 20px;
    padding:10px 20px;
    background: none;
    border: solid 2px #B09375;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.about-us-reservation button:hover{
   background: #B09375;
   color: #000000;
}

.about-us-image{
    width: 100%;
    height:500px;
    background: url(images/nicolas-perondi-583824-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top:calc(100% + 30px);
}






















